dt { font-weight: bold }
.md-typeset dd { margin-top: 0 }
.md-typeset pre { margin-bottom: 3em }
.md-typeset .admonition, .md-typeset details { font-size: 1.6rem }

.md-nav__button img { height: 100% }
span.md-logo { left: -1rem !important; }

dl.mdc-tab-bar dt.mdc-tab { font-size: inherit; background-color: #f7f7f7; border-right: 4px solid white }
.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab::after { width: 100% }

#benchmark-results img { margin: 2em 0 }

div.pros::before { content: "PROs" }
div.pros { float: left; width: 45% }

div.cons::before { content: "CONs" }
div.cons { float: right; width: 45% }

hr { clear: both }

figure { margin: 2em 0 }
figure img { width: 100%; margin-bottom: 1em }
figcaption { text-align: center; font-weight: bold }

.snippet-button {
    padding: 0.25em 0.5em;
    border: 1px solid #ddd;
    margin: 0.25em;
    border-radius: 5px;
    background: #e8eaf6;
    cursor: pointer;
}

.snippet-button:hover {
    background: #c5cae9;
}